.klemenstitle{
    text-align: center;
}
.klemenstitle > h2{
    font-size: 95px;
}
.klemensChoose{
    text-align: center;
}
h4{
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 50px;
    text-shadow: 0 2px 1px black, 
    -1px 3px 1px rgb(28, 27, 27), 
    -2px 5px 1px rgb(71, 67, 67);
}
.exitIcon{
    margin: 0%;
    font-size: 60px;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}
.exitIcon:hover{
    color: red;
    transform: scale(1.5);
}
