.antoniTitle{
    text-align: center;
}
h2{
    margin: 0%;
    font-size: 110px;
    letter-spacing: 5px;
    text-shadow: 3px 0px 7px rgba(14, 12, 3, 0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
}
/* .antonichoose{
    text-align: center;
} */
.title{
    margin-top: 0%;
    font-size: 50px;
    text-shadow: 0 2px 1px black, 
      -1px 3px 1px rgb(28, 27, 27), 
      -2px 5px 1px rgb(71, 67, 67);
}
h5{
    margin: 0%;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 2px 1px black, 
    -1px 3px 1px rgb(28, 27, 27), 
    -2px 5px 1px rgb(71, 67, 67);
}
.movies{
    border: 3px solid purple;
    position: absolute;
    left: 16%;
    top: 65%;
    transform: translateY(-40%);
    height: 200px;
    width: 200px;
    background-image: url("../imgs/person-watching-tv.png");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition-duration:400ms;
}

.movies:hover{
    background-image: url("../imgs/person-watching-tv-hover.png");
    height: 220px;
    width: 220px;
    
}
.pictures{
    border: 3px solid purple;
    position: absolute;
    right: 16%;
    top: 65%;
    transform: translateY(-40%);
    height: 200px;
    width: 200px;
    background-image: url("../imgs/same-sex-parenting.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition-duration:400ms;
}
.pictures:hover{
    background-image: url("../imgs/same-sex-parenting-hover.png");
    height: 220px;
    width: 220px;
    
}
.btn{
    font-family: Appleberry, truetype;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-25%);
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    transition: all 0.3s;
   }
   
   .btn::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .btn:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .btn:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }    
