.backgroundBlur{
    position: fixed;
    top: -16%;
    left: -64%;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: transparent;
}

.password{
    z-index: 5;
    height: 450px;
    width: 500px;
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(20px);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.passwordTitle{
   margin: 40px;
    font-size: 40px;
    letter-spacing: 1px;
}
.passwordErrorMsg{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    letter-spacing: 1px;
    font-size: 20px;
    color: red;
}
.passwordInput{
    width: 80%;
    font-size: 15px;
    color: blue;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid yellow;
    background-color: transparent;
    text-align: center;
    /* transition: 0.5s ease all;   */
}
.passwordInput:focus{
    outline: none;
    
}
.closeBtn{
    z-index: 5;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: .4s ease;
}
.closeBtn:hover{
    color: red;
    transform: scale(1.5);
}
.openVideoBtnDiv{
    position: relative;
    height: 90px;
}
/* .openVideoBtn{
    padding: 0px;
    top: 0%;
} */