@font-face {
    font-family: "Appleberry";
    src: url("../fonts/appleberry.ttf") format('truetype');;
}

.title{
   text-align: center;

}
h1{
    margin: 0%;
    font-size: 90px;
    letter-spacing: 3px;
    text-shadow: -6px 15px 4px rgba(66, 68, 90, 1);
}
.buttonsDiv{
    margin: 5% 15% 5% 10%;
    display: inline-block;
    background-image: url("../imgs/kementynaBtn.avif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 200px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 8px 6px 21px 18px rgba(0, 0, 0, 1);
    transition: .7s ease;
    font-family: Appleberry;
    color: white;
}
.buttonsDiv::after{
    position: absolute;
    left: 25%;
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  font-size: 30px;
  letter-spacing: 3px;
  z-index: 1;
  transition: .7s ease-in;
}
.buttonsDiv:hover::after{
    visibility: visible;
    opacity: 1;
    
}
.buttonsDiv:hover{
    filter: hue-rotate(90deg);
    transform: rotateX(180deg);
    box-shadow: 8px 6px 21px 18px white
}
.buttonsDiv:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.buttonsDiv2{
    margin: 5% 10% 5% 15%;
    display: inline-block;
    background-image: url("../imgs/antoni-btn.avif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    font-family: Appleberry;
    color: white;
    cursor: pointer;
    height: 200px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 8px 6px 21px 18px rgba(0, 0, 0, 1);
    transition: .7s ease;
}
.buttonsDiv2::after{
    content: attr(data-hover2);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 10%;
    font-size: 30px;
    letter-spacing: 3px;
    left: 7%;
    z-index: 1;
    transition: .7s ease;
  }
  .buttonsDiv2:hover::after{
    visibility: visible;
    opacity: 1;
}
   .buttonsDiv2:hover{
    filter: hue-rotate(180deg);
    transform: rotateZ(180deg) scale(1.2);
    box-shadow: 8px 6px 21px 18px white
}
.buttonsDiv2:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
Row{
    text-align: center;
}