@font-face {
    font-family: "Appleberry";
    src: url("../fonts/appleberry.ttf") format('truetype');;
}

.title{
   text-align: center;

}
h1{
    margin: 0%;
    font-size: 90px;
    letter-spacing: 3px;
    text-shadow: -6px 15px 4px rgba(66, 68, 90, 1);
}
.buttonsDiv{
    font-family: Appleberry;
    color: white;
    display: inline-block;
    position: relative;
    left: 30%;
    margin-top: 9%;
    margin-bottom: 4%;
}
.buttonsDiv::after{
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  font-size: 30px;
  letter-spacing: 3px;
  transform: translate(-50%, 300%);
  z-index: 1;
  transition: .7s ease;
}
.buttonsDiv:hover::after{
    visibility: visible;
    opacity: 1;
}
.klementynaBtn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 200px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 8px 6px 21px 18px rgba(0, 0, 0, 1);
    transition: .7s ease;
   }
.img-text,.img-text2{
    cursor: pointer;
    font-size: 30px;
    letter-spacing: 4px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.klementynaBtn:hover{
    filter: hue-rotate(90deg);
    box-shadow: 8px 6px 21px 18px white
}
.klementynaBtn:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.buttonsDiv2{
    font-family: Appleberry;
    color: white;
    display: inline-block;
    position: relative;
    right: -72%;
    margin-top: 9%;
    margin-bottom: 4%;
}
.buttonsDiv2::after{
    content: attr(data-hover2);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    font-size: 30px;
    letter-spacing: 3px;
    transform: translate(-50%, 300%);
    z-index: 1;
    transition: .7s ease;
  }
  .buttonsDiv2:hover::after{
    visibility: visible;
    opacity: 1;
}
.antoniBtn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 200px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 8px 6px 21px 18px rgba(0, 0, 0, 1);
    transition: .7s ease;
   }
   .antoniBtn:hover{
    filter: hue-rotate(180deg);
    box-shadow: 8px 6px 21px 18px white
}
.antoniBtn:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}