.antoniMediaContener{
    text-align: center;
}

.antoniVideoContener{
    width: 80%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
}
.antoniMediaContener h2{
    font-size: 80px;
}
.reactPlayer{
    border-radius: 10px;
    border: 4px solid black;
    margin: 10px;
    display: inline-block;
    transition: .7s ease;
}
.reactPlayer:hover{
    box-shadow: 8px 8px 48px 0px rgb(10, 10, 10);
}
.antoniExitVideo{
  padding: 13px;
  left: 90%;
  top: 20%;
}
