.antoniMediaContener{
    text-align: center;
}
.antoniMediaContener h2{
    font-size: 80px;
}
.reactPlayer{
    border-radius: 20px;
    z-index: 5;
    position: fixed;
    left: 50%;
    top: 70px;
    transform: translate(-50%);
    border-radius: 10px;
    border: 4px solid blueviolet;
    margin: 15px;
    transition: 1s ease;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.wrapper{
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: fixed;
    backdrop-filter: blur(5px);
}

.antoniExitVideo{
  padding: 13px;
  left: 90%;
  top: 20%;
}

.buttosSection{
    position: relative;
    text-align: center;
}
.buttons{
    border-radius: 15px;
    border: 2px solid blueviolet;
    height: 150px;
    margin: 20px;
    width: 250px;
    background-image: url("../imgs/spongebob1.png");
    background-position: center, center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    transition: 1s ease;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(20px);
    transition: 0.5s ease;
}
.buttons p{
    font-size: 30px;
   margin-top: 40%;
   letter-spacing: 2px;
}
.buttons:hover{
    box-shadow: 8px 8px 24px 23px rgba(255, 255, 255, 1);
}

.closeVideo{
    margin-top: 10px;
    margin-right: 50px;
    font-size: 50px;
    color: black;
}

