/* .layout{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.blue-eyes-dragon{
    display: grid;
    background-color: tomato;
    align-items: center;
    justify-content: center; 
    
} */